{% extends 'home/home.html' %}
{% load static %}


{% block content %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row g-3">
      {% for article in articles %}
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text border-bottom ">{{ article.title|truncatechars:12 }}</p>
            <p class="card-text">{{ article.description|truncatechars:80 | safe }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='{% url "article_detail" pk=article.id %}'">詳細</button>
              </div>
              <small class="text-body-secondary">Posted on {{ article.created_at }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}


